In [ ]:
import json 
import pandas as pd

In [2]:
path = "C:/Users/Bala Krishnan/Downloads/sample_airbnb.json"
D = open(path,'r')
data = json.load(D)


airbnb_data = []

for i in data:
    data = {
        "Id" : i['_id'],
        "Property_type" : i['property_type'],
        "RoomType" : i['room_type'],
        "BedType" : i['bed_type'],
        "Min_Night" : i['minimum_nights'],
        "Max_Night" : i['maximum_nights'],
        "Cancel" : i['cancellation_policy'],
        "Accomadate" : i['accommodates'],
        "Bedroom" : i.get('bedrooms'),
        "amenities": ','.join(map(str, i['amenities'])),
        "Bed" : i.get('beds'),
        "Total_Reviews" : i['number_of_reviews'],
        "Bathrooms" : i.get('bathrooms'),
        "Price" : i['price'],
        "Cleaning" : i.get('cleaning_fee'),
        "ExtraPeople" : i['extra_people'], 
        "Guests" : i['guests_included']   
    }
    airbnb_data.append(data)


val = pd.DataFrame(airbnb_data)
#val

In [3]:
val.columns

Index(['Id', 'Property_type', 'RoomType', 'BedType', 'Min_Night', 'Max_Night',
       'Cancel', 'Accomadate', 'Bedroom', 'amenities', 'Bed', 'Total_Reviews',
       'Bathrooms', 'Price', 'Cleaning', 'ExtraPeople', 'Guests'],
      dtype='object')

In [4]:
val.ffill(inplace = True)
val["amenities"]= val["amenities"].replace({'':"Not Specified"})

In [5]:
val.isna().sum()

Id               0
Property_type    0
RoomType         0
BedType          0
Min_Night        0
Max_Night        0
Cancel           0
Accomadate       0
Bedroom          0
amenities        0
Bed              0
Total_Reviews    0
Bathrooms        0
Price            0
Cleaning         0
ExtraPeople      0
Guests           0
dtype: int64

In [6]:
val[val.duplicated()].count()

Id               0
Property_type    0
RoomType         0
BedType          0
Min_Night        0
Max_Night        0
Cancel           0
Accomadate       0
Bedroom          0
amenities        0
Bed              0
Total_Reviews    0
Bathrooms        0
Price            0
Cleaning         0
ExtraPeople      0
Guests           0
dtype: int64

In [7]:
val.dtypes

Id                object
Property_type     object
RoomType          object
BedType           object
Min_Night         object
Max_Night         object
Cancel            object
Accomadate         int64
Bedroom          float64
amenities         object
Bed              float64
Total_Reviews      int64
Bathrooms        float64
Price            float64
Cleaning         float64
ExtraPeople      float64
Guests           float64
dtype: object

In [8]:
val['Min_Night'] = val['Min_Night'].astype(int)
val['Max_Night'] = val['Max_Night'].astype(int)
val['Bedroom'] = val['Bedroom'].astype(int)
val['Bed'] = val['Bed'].astype(int)
val['Bathrooms'] = val['Bathrooms'].astype(str).astype(float)
val['Price'] = val['Price'].astype(str).astype(float).astype(int)
val['Cleaning'] = val['Cleaning'].apply(lambda x: int(float(str(x))) if x != 'Not Specified' else 'Not Specified')
val['ExtraPeople'] = val['ExtraPeople'].astype(int)
val['Guests'] = val['Guests'].astype(int)

In [9]:
val.dtypes

Id                object
Property_type     object
RoomType          object
BedType           object
Min_Night          int32
Max_Night          int32
Cancel            object
Accomadate         int64
Bedroom            int32
amenities         object
Bed                int32
Total_Reviews      int64
Bathrooms        float64
Price              int32
Cleaning           int64
ExtraPeople        int32
Guests             int32
dtype: object

In [10]:
val.describe().T

,count,mean,std,min,25%,50%,75%,max
Min_Night,5555.0,5.564356e+00,2.261386e+01,1.0,1.0,2.0,3.0,1.250000e+03
Max_Night,5555.0,1.382776e+06,5.256920e+07,1.0,59.0,1125.0,1125.0,2.147484e+09
Accomadate,5555.0,3.505851e+00,2.297019e+00,1.0,2.0,3.0,4.0,1.600000e+01
Bedroom,5555.0,1.411161e+00,1.041704e+00,0.0,1.0,1.0,2.0,2.000000e+01
Bed,5555.0,2.070747e+00,1.618626e+00,0.0,1.0,2.0,3.0,2.500000e+01
Total_Reviews,5555.0,2.760648e+01,4.979838e+01,0.0,1.0,5.0,32.0,5.330000e+02
Bathrooms,5555.0,1.291269e+00,7.024094e-01,0.0,1.0,1.0,1.0,1.600000e+01
Price,5555.0,2.787662e+02,8.422155e+02,9.0,70.0,129.0,280.0,4.884200e+04
Cleaning,5555.0,9.446373e+01,1.084039e+02,0.0,23.0,60.0,130.0,2.000000e+03
ExtraPeople,5555.0,2.279190e+01,6.933151e+01,0.0,0.0,0.0,20.0,2.346000e+03
Guests,5555.0,1.747435e+00,1.487352e+00,1.0,1.0,1.0,2.0,1.600000e+01

In [11]:
path = "C:/Users/Bala Krishnan/Downloads/sample_airbnb.json"
D = open(path,'r')
data = json.load(D)

host_data = []

for i in data:
    host = {
        "Id" : i['_id'],
        "Id_host" : i['host']['host_id'],
        "Location" : i['host']['host_location'],
        "Response" : i['host'].get('host_response_time'),
        "Host_neigh" : i['host']['host_neighbourhood'],
        "Response_rate" : i['host'].get('host_response_rate'),
        "Total_list" : i['host']['host_total_listings_count'],
        "Vertify" : ','.join(map(str, i['host']['host_verifications']))
    }
    
    host_data.append(host)

val1 = pd.DataFrame(host_data)
#val1

In [12]:
val1.isna().sum()

Id                  0
Id_host             0
Location            0
Response         1388
Host_neigh          0
Response_rate    1388
Total_list          0
Vertify             0
dtype: int64

In [13]:
val1[val1.duplicated()].count()

Id               0
Id_host          0
Location         0
Response         0
Host_neigh       0
Response_rate    0
Total_list       0
Vertify          0
dtype: int64

In [14]:
val1.drop_duplicates(inplace=True,ignore_index=True)
val1[val1.duplicated()].count()

Id               0
Id_host          0
Location         0
Response         0
Host_neigh       0
Response_rate    0
Total_list       0
Vertify          0
dtype: int64

In [15]:
val1.columns

Index(['Id', 'Id_host', 'Location', 'Response', 'Host_neigh', 'Response_rate',
       'Total_list', 'Vertify'],
      dtype='object')

In [16]:
val1.bfill(inplace = True)
val1["Host_neigh"]= val1["Host_neigh"].replace({'':"Not Specified"})
val1["Response"].fillna("Not Specified",inplace= True)
#val1['Response '].fillna('Not Specified', inplace=True)
#val1['Response_rate '].fillna("Not Specified", inplace=True)
val1["Response_rate"].fillna("Not Specified",inplace= True)
#val1["Vertify"].fillna("Not Specified", inplace=True)
val1["Location"]= val1["Location"].replace({'':"Not Specified"})
val1["Vertify"]= val1["Vertify"].replace({'':"Not Specified"})
val1.isna().sum()

C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\409976661.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  val1["Response"].fillna("Not Specified",inplace= True)
C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\409976661.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  val1["Response_rate"].fillna("Not Specified",inplace= True)
C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\409976661.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val1["Response_rate"].fillna("Not Specified",inplace= True)

Id               0
Id_host          0
Location         0
Response         0
Host_neigh       0
Response_rate    0
Total_list       0
Vertify          0
dtype: int64

In [17]:
val1.dtypes

Id               object
Id_host          object
Location         object
Response         object
Host_neigh       object
Response_rate    object
Total_list        int64
Vertify          object
dtype: object

In [18]:
path = "C:/Users/Bala Krishnan/Downloads/sample_airbnb.json"
D = open(path,'r')
data = json.load(D)

info = []

for i in data:
    data_info = {
        "Id" : i['_id'],
        "Street" : i['address']['street'],
        "SubUrban" : i['address']['suburb'],
        "Gov_Area" : i['address']['government_area'],
        "Market" : i['address']['market'],
        "Country" : i['address']['country'],
        "C_Code" : i['address']['country_code'],
        "longitude" : i['address']['location']['coordinates'][0],
        "latitude" : i['address']['location']['coordinates'][1],
        "Avail_30" : i['availability']['availability_30'],
        "Avail_60" : i['availability']['availability_60'],
        "Avail_90" : i['availability']['availability_90'],
        "Avail_365" : i['availability']['availability_365'],
        "RScore_accur" : i['review_scores'].get('review_scores_accuracy'),
        "RScore_neatness" : i['review_scores'].get('review_scores_cleanliness'),
        "RScore_checkin" : i['review_scores'].get('review_scores_checkin'),
        "RScore_comm" : i['review_scores'].get('review_scores_communication'),
        "RScore_location" : i['review_scores'].get('review_scores_location'),
        "RScore_value" : i['review_scores'].get('review_scores_value'),
        "RScore_rate" : i['review_scores'].get('review_scores_rating')       
    }

    info.append(data_info)

val2 = pd.DataFrame(info)
#val2

In [19]:
val2.isna().sum()

Id                    0
Street                0
SubUrban              0
Gov_Area              0
Market                0
Country               0
C_Code                0
longitude             0
latitude              0
Avail_30              0
Avail_60              0
Avail_90              0
Avail_365             0
RScore_accur       1476
RScore_neatness    1473
RScore_checkin     1475
RScore_comm        1474
RScore_location    1474
RScore_value       1475
RScore_rate        1474
dtype: int64

In [20]:
#val2["SubUrban"].fillna("Not Specified", inplace=True)
#val2["Market"].fillna('Not Specified', inplace=True)
val2["SubUrban"]= val2["SubUrban"].replace({'':"Not Specified"})
val2["Market"]= val2["Market"].replace({'':"Not Specified"})
val2["RScore_accur"].fillna("Not Specified", inplace=True)
val2["RScore_neatness"].fillna("Not Specified", inplace=True)
val2["RScore_checkin"].fillna("Not Specified", inplace=True)
val2["RScore_comm"] = val2["RScore_comm"].fillna(val2["RScore_comm"].mean())
val2["RScore_location"] = val2["RScore_location"].fillna(val2["RScore_location"].mean())
val2["RScore_value"] = val2["RScore_value"].fillna(val2["RScore_value"].mean())
val2["RScore_rate"] = val2["RScore_rate"].fillna(val2["RScore_rate"].mean())

C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\982503696.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  val2["RScore_accur"].fillna("Not Specified", inplace=True)
C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\982503696.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val2["RScore_accur"].fillna("Not Specified", inplace=True)
C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\982503696.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  val2["RScore_neatness"].fillna("Not Specified", inplace=True)
C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\982503696.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val2["RScore_neatness"].fillna("Not Specified", inplace=True)
C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\982503696.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  val2["RScore_checkin"].fillna("Not Specified", inplace=True)
C:\Users\Bala Krishnan\AppData\Local\Temp\ipykernel_13200\982503696.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val2["RScore_checkin"].fillna("Not Specified", inplace=True)

In [21]:
val2.isna().sum()

Id                 0
Street             0
SubUrban           0
Gov_Area           0
Market             0
Country            0
C_Code             0
longitude          0
latitude           0
Avail_30           0
Avail_60           0
Avail_90           0
Avail_365          0
RScore_accur       0
RScore_neatness    0
RScore_checkin     0
RScore_comm        0
RScore_location    0
RScore_value       0
RScore_rate        0
dtype: int64

In [22]:
val2.dtypes

Id                  object
Street              object
SubUrban            object
Gov_Area            object
Market              object
Country             object
C_Code              object
longitude          float64
latitude           float64
Avail_30             int64
Avail_60             int64
Avail_90             int64
Avail_365            int64
RScore_accur        object
RScore_neatness     object
RScore_checkin      object
RScore_comm        float64
RScore_location    float64
RScore_value       float64
RScore_rate        float64
dtype: object

In [23]:
df = pd.merge(val, val1, on = 'Id')
df = pd.merge(df, val2, on = 'Id')
df.head()

,Id,Property_type,RoomType,BedType,Min_Night,Max_Night,Cancel,Accomadate,Bedroom,amenities,...,Avail_60,Avail_90,Avail_365,RScore_accur,RScore_neatness,RScore_checkin,RScore_comm,RScore_location,RScore_value,RScore_rate
0,1003530,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1,"Internet,Wifi,Air conditioning,Kitchen,Elevato...",...,0,0,93,10.0,9.0,10.0,10.0,10.0,10.0,94.0
1,10133554,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,1,"Internet,Wifi,Air conditioning,Free parking on...",...,60,90,365,9.0,9.0,10.0,10.0,10.0,9.0,92.0
2,10059872,Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1,"Air conditioning,Kitchen,Smoking allowed,Doorm...",...,0,0,0,10.0,10.0,10.0,10.0,10.0,8.0,100.0
3,10084023,Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,1,1,"TV,Wifi,Air conditioning,Kitchen,Elevator,Firs...",...,24,40,220,10.0,8.0,10.0,10.0,10.0,10.0,92.0
4,10091713,Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2,0,"TV,Wifi,Kitchen,Elevator,Heating,Washer,Dryer,...",...,0,0,0,10.0,9.0,10.0,10.0,10.0,9.0,95.0

In [24]:
df.to_csv("Airbnb.csv", index= False)

In [25]:
df= pd.read_csv("Airbnb.csv")
#df

In [27]:
df.isnull().sum()

Id                 0
Property_type      0
RoomType           0
BedType            0
Min_Night          0
Max_Night          0
Cancel             0
Accomadate         0
Bedroom            0
amenities          0
Bed                0
Total_Reviews      0
Bathrooms          0
Price              0
Cleaning           0
ExtraPeople        0
Guests             0
Id_host            0
Location           0
Response           0
Host_neigh         0
Response_rate      0
Total_list         0
Vertify            0
Street             0
SubUrban           0
Gov_Area           0
Market             0
Country            0
C_Code             0
longitude          0
latitude           0
Avail_30           0
Avail_60           0
Avail_90           0
Avail_365          0
RScore_accur       0
RScore_neatness    0
RScore_checkin     0
RScore_comm        0
RScore_location    0
RScore_value       0
RScore_rate        0
dtype: int64